* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    width: 100%;
    height: 50px;
    background-image: url('../img/amazon_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.nav-address {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.add-icon {
    display: flex;
    gap: 5px;
}

.nav-add-title1 {
    color: #cccc;
    font-size: 0.8rem;
    /* margin-left: 15px; */
}

.nav-add-title2 {
    font-size: 0.87rem;
    font-weight: 700;
}

.nav-searchbar {
    width: 600px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    /* border: 1px solid gray; */
    border-radius: 5px;
    /* border: 1px solid gray; */
    background-color: #febd69;
}

.search-dropdown {
    height: 40px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    height: 40px;
    border: none;
    width: 500px;
    font-size: 1rem;
    padding: 10px;
}

.nav-searchbar:hover {
    outline: 3px solid orange;
}

.search-input:focus {
    outline: none;
}

.search-dropdown:focus {
    outline: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* background-color: black; */
}

.nav-signin,
.nav-return {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5px;
}


.nav-cart-area {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;

}

.nav-cart-area i {
    font-size: 2rem;
}


.nav-bar-second {
    height: 40px;
    background-color: #232F3D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.85rem;
    font-weight: 500;
}

.nav-category p {
    height: 40px;
    padding: 12px;
}

.nav-all-menu {
    height: 40px;
    padding: 12px;
    text-align: center;
}

.nav-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 70%;
    gap: 25px;
}

.nav-deals {
    height: 40px;
    padding: 12px;
    font-weight: 700;
}

.hero-section {
    background-image: url('../img/hero_image.jpg');
    background-size: cover;
    height: 50vh;
}

.hero-description {
    background-color: white;
    color: black;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 20px;

}

.hero-description a {
    color: #007185;
    text-decoration: none;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: radial-gradient(circle, #ffffff, #eeeef0, #dddde1, #cbcdd2, #babdc4, #aaadb5, #9a9ea6, #8b8f98, #7a7d86, #696c74, #585a63, #484a52);
}

.shop-section a {
    text-decoration: none;
    color: green;
    /* margin-bottom: 20px; */
}

.card {
    width: calc(31% - 20px);
    height: 400px;
    margin: 20px 0px;
    padding: 20px 15px;
    background-color: white;
}


.card-img img {
    width: 100%;
    height: 280px;
    margin: 15px 0;
}

.footer-panel1 {
    background-color: #374758;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.85rem;
}

.footer-panel2 {
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: self-start;
    padding: 40px;
}

 a {
    color: #DDDD;
    text-decoration: none;
    font-size: 0.87rem;
}

.footer-panel2 h4 {
    margin-bottom: 15px;
}

ul li {
    list-style: none;
    line-height: 30px;
}

.footer-panel3{
    background-color: #232F3E;
    height: 60px;
    border-top: 0.5px solid gray;
    display: flex;
    justify-content: center;
}


.footer-panel3 img{
    height: 100%;
}

.footer-panel4{
    background-color: #131A22;
    height: 60px;
    font-size: 0.7rem;
}

.footer-panel4 ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 0.7rem;
}

.footer-panel4 p{
    /* display: inline-block; */
    color: #DDDD;
    text-align: center;
}